<h1>Personas#mostrar</h1>
<p>Find me in app/views/personas/mostrar.html.erb</p>

<h2>Nombres</h2>
<%= @persona.nombres %><br>
<h2>Apellidos</h2>
<%= @persona.apellidos %><br>
<h2>Fecha de Nacimiento</h2>
<%= @persona.fecha_nacimiento %><br>
<h2>Direccion</h2>
<%= @persona.direccion %><br>

<%= link_to 'VOLVER INDEX PERSONAS', personas_path %>
<%= link_to 'EDITAR', editar_persona_url(@persona) %>
